<?xml version="1.0" encoding="UTF-8"?>

<configuration packagingData="true" >

	<property name="applicationPackage" value="com.noaaServerSpringBatch" />
	<property name="applicationPackage2" value="com.noaaServerSpringBatch.dao.MetarDao" />

		<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %36.36logger{36}.%-20.20(%method\(\)) - %msg%n</pattern>
<!-- 				<pattern>%d{HH:mm:ss.SSS} %-5level %logger{0}.%method\(\) - %msg%n</pattern> -->

<!-- 				<pattern>%d{HH:mm:ss.SSS} %-5level %logger.%method\(\) - %msg%n</pattern> -->
				
<!-- 				<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0}.%method\(\) - %msg%n</pattern> -->
			</encoder>
		</appender>


	<logger name="${applicationPackage}" level="debug" />
	<logger name="${applicationPackage2}" level="info" />
	
	<logger name="org.springframework.batch" level="info" />

	<root level="error">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>