<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<!-- stored job-meta in memory -->
<!-- 	<bean id="jobRepository" -->
<!-- 		class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean"> -->
<!-- 		<property name="transactionManager" ref="transactionManager" /> -->
<!-- 	</bean> -->

 	 <!-- stored job-meta in database -->
	<bean id="jobRepository"
		class="org.springframework.batch.core.repository.support.JobRepositoryFactoryBean">
		<property name="dataSource" ref="springBatchDataSource" />
		<property name="transactionManager" ref="springBatchTransactionManager" />
		<property name="databaseType" value="h2" />
	</bean>

<!-- 	<bean id="transactionManager" -->
<!-- 		class="org.springframework.batch.support.transaction.ResourcelessTransactionManager" /> -->

	<bean id="asyncJobLauncher"
		class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
		<property name="jobRepository" ref="jobRepository" />
		<property name="taskExecutor">
        	<bean class="org.springframework.core.task.SimpleAsyncTaskExecutor" />
    	</property>
	</bean>

	<bean id="syncJobLauncher"
		class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
		<property name="jobRepository" ref="jobRepository" />
	</bean>

</beans>